/** [[T:黑幕]]适配 **/
body:not(.skin-vector) .heimu,
body:not(.skin-vector) .heimu rt,
body:not(.skin-vector) .colormu,
body:not(.skin-vector) .colormu rt {
    border-radius: 0.2rem;
    padding-inline: 0.2rem;
}

/** [[T:胡话]]适配 **/
body:not(.skin-vector) .just-kidding-text {
    color: var(--theme-just-kidding-text-color);
    text-decoration-color: var(--theme-text-color);
}

/** [[T:假链]]适配 **/
:root[color-mode] body:not(.skin-vector) .fakelink:hover {
    color: var(--theme-link-color--hover) !important;
}

:root[color-mode] body:not(.skin-vector) .fakelink:active {
    color: var(--theme-link-color--visited) !important;
}

:root[color-mode="dark"] body:not(.skin-vector) .fakelink .heimu {
    color: var(--heimu-color) !important;
}

/** [[T:Document]]适配 **/
body:not(.skin-vector) .template-documentation {
    background-color: var(--theme-card-background-color) !important;
    border-color: var(--theme-border-color) !important;
}

/** [[T:编辑请求]] **/
body:not(.skin-vector) [style="border:2px solid #000;padding:10px 15px;background-color:#f0faff"] {
    background-color: rgb(105 205 255 / 10%) !important;
    border-color: currentcolor !important;
}

/** [[T:Dummyreference]]适配 **/
body:not(.skin-vector) sup.reference.nowrap[style="color:#002bb8;"] {
    color: var(--theme-link-color) !important;
}

/* [[T:专题导航]]展开动画 */
body:not(.skin-vector) {
    .ztdh {
        z-index: 99;

        .menu-item {
            > .menu-content {
                transform-origin: top center;

                &:hover,
                &[style*="display: block;"] {
                    opacity: 1;
                    transform: scaleY(1);
                }

                > .menu-popout {
                    transition-property: position;
                    transition-duration: 350ms;
                    transition-behavior: allow-discrete;
                }
            }
        }
    }
}

/** 修复[[T:Navbox subgroup]]图片问题 **/
table.navbox-subgroup > tbody > tr > td[style^="width:0%;padding:0px 0px 0px 2px;"] > a > img:not(.noresize) {
    max-width: initial;
    height: initial;
}

/** 修复[[T:Navbox]]遮挡[[T:User]] **/
body:not(.skin-vector) {
    table.navbox {
        border-collapse: revert;
        box-shadow: revert;
        overflow: revert;

        > tbody > tr > td > table {
            border-collapse: revert;
            overflow: revert;

            > tbody > tr {
                &:first-of-type {
                    > :first-child {
                        border-top-left-radius: 0.375rem;
                        transition: border-bottom-left-radius ease 0.24s;
                    }

                    > :last-child {
                        border-top-right-radius: 0.375rem;
                        transition: border-bottom-right-radius ease 0.24s;
                    }
                }

                &:last-of-type {
                    > :first-child {
                        border-bottom-left-radius: 0.375rem;
                    }

                    > :last-child {
                        border-bottom-right-radius: 0.375rem;
                    }
                }
            }

            &.mw-collapsible.mw-collapsed {
                > tbody > tr:first-of-type {
                    > :first-child {
                        border-bottom-left-radius: 0.375rem;
                    }

                    > :last-child {
                        border-bottom-right-radius: 0.375rem;
                    }
                }
            }
        }
    }
}
